
h1 {
	color: #3A2558;
	font-size: 30px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", "Helvetica", "Arial", "sans-serif";
	font-weight: bold;
	font-stretch: expanded;
	text-align: center;
	margin-top: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

tei-p,
tei-reg {
  font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", "Helvetica", "Arial", "sans-serif";
  
}

tei-lb:before {
  white-space: pre;
  content: "\A";
}

tei-surname,
tei-forename,
tei-note,
tei-addname {
  display: none;

}
